__pycache__/
*.py[cod]

*.egg-info/
dist/

venv/

.python-version

.idea

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

.DS_Store
